
.Container {
    display: flex;
    padding: 2rem;
    text-align: left;
    flex-direction: column;
    width : 50%;
    margin : 2rem auto;
    border-radius: 0.6rem;
    border : 2px solid rgb(29, 42, 38);
}


.Input {
    padding : 0.7rem 0.4rem;
    font-size: 1rem;
    border : 0.1rem solid #ccc;
    border-radius: 0.2rem;
    outline: none;
}

.Button {
    margin : 0.5rem 0;
    padding : 0.5rem;
    color: white;
    border-radius: 0.3rem;
    outline: none;
    background: linear-gradient(#449d9d, #001d1d);
}

.Label {
    /* border : 2px solid blue; */
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.OutputContainer {
    padding: 2rem;
}

.Image {
    width : 20rem;
    height: 20rem;
    border-radius: 0.8rem;
    margin : 0.5rem;
}
