

.Container {
    display: flex;
    padding: 2rem;
    text-align: left;
    flex-direction: column;
    width : 50%;
    margin : 0 auto;
    border-radius: 0.6rem;
    border : 2px solid rgb(29, 42, 38);
}

.Label {
    /* border : 2px solid blue; */
    padding: 0.3rem;
}

.Input {
    padding : 0.7rem 0.4rem;
    font-size: 1rem;
    border : 0.1rem solid #ccc;
    border-radius: 0.2rem;
    outline: none;
}

.Dropdown {
    padding : 0.5rem;
    border : 0.1rem solid #999;
    border-radius: 0.2rem;
    outline: none;
}

.TextArea {
    margin : 0.2rem 0 1rem;
    padding: 1rem;
    border : 0.1rem solid #999;
    border-radius: 0.2rem;
    outline: none;
}

.Button {
    margin : 0.5rem 0;
    padding : 0.5rem;
    color: white;
    border-radius: 0.3rem;
    outline: none;
    background: linear-gradient(#14d8d8, #001d1d);
}

.Message {
    /* border: 2px solid red; */
    padding: 0.5rem;
    margin : 0.5rem 0;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 0.3rem;
}

.Green {
    background-color: rgb(79, 221, 79);
    color: white;
}

.Red {
    background-color: rgb(240, 67, 14);
    color: white;
}