
  
  
  .Container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  
  h1 {
    font-size: 5em;
    color: black;
  }
  
  .Label {
    padding: 20px;
    /* border : 2px solid lavender; */
    font-size: 2em;
  }
  
.Input {
    padding: 10px;
    border-radius: 7px;
    width: 10%;
    font-size: 1.5em;
  }
  
  .Input:focus, .Input::placeholder {
    outline:none;
    background-color: rgb(222, 238, 248);
  }
  
  .Input::-webkit-outer-spin-button,
  .Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
.Input[type=number] {
    -moz-appearance: textfield;
  }
  
  .Control {
    margin-top: 30px;
  }
  
  .Button {
    padding: 10px 20px;
    font-size: 1.2em;
    box-sizing: border-box;
    margin: 10px 20px;
    border-radius: 8px;
  }
  
  .red {
    background-color: rgb(226, 68, 68);
  }
  
  .green {
    background-color: rgb(100, 228, 100);
  }
  
  .Answer {
    padding : 20px 10px;
    margin: 10px 20px 10px;
    border: 3px solid black;
    font-size: 1.5em;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: rgb(20, 220, 110);
    transition: all 0.4s;
  }